.subtitle {
  font-size:2em;
}

body {
  background:#FFFFFF;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer {
  background: #ccc;
  h1 {
    padding: 10px;
    margin: 0;
  }
}

#ReactApp {
  flex: 1;
}

#bingePic {
  flex: 1;
  height: 40vh;
}

.progressbar-container {
  height: 1vh;
}
.mySwipe {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  font-weight:bold;
  color:#FFFFFF;
  font-size:5em;
  flex: 1;
  text-align: center;

  padding:100px 10px;

  background: #0288D1;
}

.page-header {
  vertical-align: top;
  text-align: right;
  color:#FFFFFF;
  background: #0288D1;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  height: 10vh;
}

.Instructions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight:bold;
  color:#FFFFFF;
  font-size:2em;
  text-align:center;
  background: #0288D1;
  height: 9vh;
}

.LeftInstruction {
  text-align: left;
  flex-grow: 1;
}
.RightInstruction {
  text-align: right;
  flex-grow: 1;
}

.topic {
  font-size:0.5em;
}

.subtopic {
  font-size:0.7em;
}

.footer {
  flex: 1;
}
